#app {
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-areas:
    'menu visualiser';
  grid-gap: 8px;
  min-height: 100%;
}

menu {
  grid-area: menu;
  background-color: #f9f9f9;
}

#visualiser {
  grid-area: visualiser;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  .col {
    background-color: lightblue;
    width: 40px;
    border: 2px solid white;
    text-align: center;
    height: 0;
    will-change: transition;
    transition: transform 200ms;
    transform: translateX(0);
  }
}
