@import "./visualiser";
@import "./options";
@import "./colors";
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  background-color: $grey-light;

  * {
    font-family: 'Open Sans', sans-serif;
  }

}

#app {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'menu visualiser';
  height: 100%;
  box-sizing: border-box;
  padding: 12px 6px;
}

#visualiser {
  grid-area: visualiser;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

